
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section-1{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: relative;
   
    width: 100%;
    padding: 20px 100px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    background: #017143;
    transition: all 0.5s ease-in-out;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;

}
header .logo{
    position: relative;
    max-width: 50px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
   display: inline-block;
   color: #fff;
   font-weight: 400;
   margin-left: 40px;
   text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 500;
}
.content .textbox p{
    color: #333;
}
.content .textbox a{
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .img-box{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .img-box img{
    max-width: 340px;
    
}
.thumb{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;

}
.thumb li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li :hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display:  inline-block;
    margin: 5px 0;
    transform: scale(0.6);
   filter: invert(1);
}
.circle{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);

}
/* section 2 */
/* Style the tab */
.tab {
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #015230;
    background-color: #017143;
    display: flex;
    justify-content: center;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #fff;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(170, 167, 167);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(170, 167, 167);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .addcart{
      
    
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    
  }


